In [2]:
import pandas as pd

In [4]:
pd.__version__

'1.2.3'

In [16]:
mydataset = {
    'cars': ['BMW', 'Volvo', "Ford", "Ferrari"],
    'carseats': [5, 7, 2, 2]
}
df = pd.DataFrame(mydataset)
df

      cars  carseats
0      BMW         5
1    Volvo         7
2     Ford         2
3  Ferrari         2

In [34]:
series = pd.Series(df.cars)
print(series)
print(series[3])

0        BMW
1      Volvo
2       Ford
3    Ferrari
Name: cars, dtype: object
Ferrari