In [2]:
# tips
import pandas as pd

In [ ]:
# 1d arrays:
arr = [0, 1, 2]
arr[0]

In [3]:
# 2d arrays:
arr2 = [[0, 1, 3], [1, 2, 0]]
arr2 = [
    [0, 1, 3],
    [1, 2, 0]
]
arr2[0][0]

0

In [4]:
# 3d arrays:
arr3 = [[[0, 0, 0], [0, 0, 0], [0, 0, 0]], [[0, 0, 0], [0, 0, 0], [0, 0, 0]]]
arr3[0]

[[0, 0, 0], [0, 0, 0], [0, 0, 0]]

In [6]:
arr3[0][0][0]

0

In [18]:
# dictionary of data
data = {
    'calories': [420, 380, 390],
    'duration': [50, 40, 45],
    'where': ['Home', 'Wendy\'s', 'Chipoltle'],
    'drink': ['Water', 'Frosty', 'Coke']
}
df = pd.DataFrame(data, index = ['meal1', 'meal2', 'meal3'])
# default indexes are 0, 1, 2

In [25]:
df.to_string()

"       calories  duration      where   drink\nmeal1       420        50       Home   Water\nmeal2       380        40    Wendy's  Frosty\nmeal3       390        45  Chipoltle    Coke"

In [19]:
print(df)

       calories  duration      where   drink
meal1       420        50       Home   Water
meal2       380        40    Wendy's  Frosty
meal3       390        45  Chipoltle    Coke

In [21]:
df.loc['meal1']
# returns a pandas series

calories      420
duration       50
where        Home
drink       Water
Name: meal1, dtype: object

In [22]:
# df notes:
"""
read_csv loads the file into a 'dataframe'
what is a dataframe? 
a pandas dataframe is a 2 dimensional data structure
like a 2 dimensional array 
[0, 0, 0] <- one dimensional array
arr = [
[0, 0, 0], 
[0, 0, 0],  <- two dimensional array
[0, 0,0]
]
a df is a pandas version of a 2d array
a table with rows and columns
df stands for dataframe
"""

"\nread_csv loads the file into a 'dataframe'\nwhat is a dataframe? \na pandas dataframe is a 2 dimensional data structure\nlike a 2 dimensional array \n[0, 0, 0] <- one dimensional array\narr = [\n[0, 0, 0], \n[0, 0, 0],  <- two dimensional array\n[0, 0,0]\n]\na df is a pandas version of a 2d array\na table with rows and columns\ndf stands for dataframe\n"

In [ ]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
    print(df.loc[0])

In [27]:
data = {
   'game': ['Subnautica','Jurassic World Evolution','Titanfall 2'],
   'genre': ['Survival','Simulation','FPS'],
   'rating': ['E10+','T','M'],
   'rating_description': [
       'fantasy violence, mild language',
       'mild blood, violence',
       'blood and gore, language, violence'
   ]
}
df = pd.DataFrame(data)

In [28]:
df

,game,genre,rating,rating_description
0,Subnautica,Survival,E10+,"fantasy violence, mild language"
1,Jurassic World Evolution,Simulation,T,"mild blood, violence"
2,Titanfall 2,FPS,M,"blood and gore, language, violence"

In [2]:
# cleaning data
# data cleaning means fixing bad data in your data set
# bad data could be:
# - empty cell
# - data in wrong format
# - wrong data
# - duplicates

# cleaing an empty cell
# empty cells can potentially give you a wrong result when you analyze data

# remove rows with empty cells